.arena {
    max-width: 1000px;
    margin: auto;
    position: relative;
}

.arena__opponent-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.pokemon-main-container {
    display: flex;
    padding: 1rem;
}

.arena__pokemon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
}

.arena__options-container {

    display: flex;
    height: 140px;
    width: 100%;
    position: absolute;
    bottom: -80px;

    .arena__options__info-container {
        background: #334f70;
        color: white;
        border: 6px solid #dbb46d;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        .info-container__action {
          line-height: 30px;
        }
    }

    .arena__pokemon__moves-container {
        width: 50%;
        border-radius: 5px;
        border: 7px solid #6e4d8c;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div {
            width: 45%;
            margin: 5px;
            border: 2px solid #2d92ab;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
    
}

