.arena {
  max-width: 1000px;
  margin: auto;
  padding: 1rem 1rem 0 1rem;
  position: relative;
}

.arena-wrapper {
  height: 551px;
  border-radius: 4px;
  padding-top: 1rem;
  background: rgb(36,36,0);
  background: linear-gradient(180deg, rgba(36,36,0,1) 0%, rgba(221,236,224,1) 50%);

}

.arena__opponent-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.pokemon-main-container {
  display: flex;
  padding: 1rem;
}

.arena__pokemon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.arena__options-container {
  display: flex;
  height: 140px;
  position: relative;
  bottom: 46px;
  border: 8px solid #361e1e;

  .arena__options__info-container {
    background: #334f70;
    color: white;
    border: 6px solid #dbb46d;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .info-container__action {
      line-height: 30px;
    }
  }

  .arena__pokemon__moves-container {
    width: 50%;
    border: 7px solid #6e4d8c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 13px;
    div {
      width: 45%;
      margin: 5px;
      border: 2px solid #2d92ab;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
