<app-pokeball [openPokeball]="openPokeball"></app-pokeball>
<div class="arena">
  <div class="arena-wrapper">
 
    <ng-container *ngIf="pokemon && pokemonOpponent">
      <app-pokemon
        class="arena__opponent-container"
        [className]="pokemonOpponentClassName"
        [pokemon]="pokemonOpponent"
        [pokemonName$]="pokemonOpponentName$"
        [isOpponent]="true"
      ></app-pokemon>

    
      <app-pokemon
        class="arena__pokemon-container"
        [className]="pokemonClassName"
        [pokemon]="pokemon"
        [pokemonName$]="pokemonName$"
      >
      </app-pokemon>
    </ng-container>
 
    <div class="arena__options-container">
      <div class="arena__options__info-container">
        <p
          class="info-container__action"
        >{{boxMessage | translate: {pokemon: currentPokemonName | titlecase, move: usedMove} | typeMessage | async }}</p>
      </div>
      <div class="arena__pokemon__moves-container">
        <div class="moves-container__move" *ngFor="let move of pokemon?.pokemonMoves; let i = index;" (click)="chooseMove(move, i)">
          <p>{{ move.name | titlecase }}</p>
        </div>
        <div class="arena__moves-container-popover" *ngIf="hasSelectedMove"></div>
      </div>
    </div>
  </div>
</div>
