.disconnect-modal__container {
  min-width: 340px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  // gap: 2rem;
  line-height: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  background-color: orange;
  border: 5px solid black;

  button {
    padding: 0.7rem;
    border-radius: 5px;
    cursor: pointer;    
  }
}

.disconnect-modal__container > * + * {
  margin-top: 2rem;
}

.disconnect-modal__background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1800;
}
