<div class="pokemon__img-container" [ngClass]="isOpponent? 'opponent' : 'player'">
  <img
    [src]="
      isOpponent ? pokemon.sprites.front_default : pokemon.sprites.back_default
    "
    [ngClass]="className"
    alt="pokemon"
  />
</div>
<div class="health-overcontainer">
  <div class="pokemon__health__pointer-div"></div>
  <div class="pokemon__health-container">
    <div class="health-container__info">
      <h4>{{ pokemon.name | titlecase }}</h4>
    </div>
    <div class="health-container__life-bar">
      <div 
        [style.width]="pokemonHealth"
        [style.background]="pokemonHealthNumber < 20 ? 'red' : ''"
        class="health-bar">
      </div>
    </div>
  </div>
</div>
