<div class="pokemon__img-container" [ngClass]="isOpponent? 'opponent' : 'player'">
  <img
    [src]="
      isOpponent ? pokemon.sprites.front_default : pokemon.sprites.back_default
    "
    [ngClass]="className"
    alt="pokemon"
  />
  <div class="img-container__pokemon-base"></div>
</div>
<div class="health-overcontainer">
  <div class="pokemon__health__pointer-div"></div>
  <div class="pokemon__health-container">
    <div class="health-container__info">
      <h3>{{pokemon.name | uppercase}}</h3>
    </div>
    <div class="health-container__life-bar">
      <div class="life-bar__text">
        <p>HP</p>
      </div>
      <div class="health-bar__wrapper">
        <div 
          [style.width]="pokemon.pokemonHealth"
          [style.background]="calculateLifeBarColor(pokemonHealthNumber)"
          class="health-bar">
        </div>
      </div>
    </div>
    <div class="health-container__life-points" *ngIf="!isOpponent">
      <p>{{pokemon.pokemonHealthNumber}}/{{pokemon.pokemonHealthNumberTotal}}</p>
    </div>
  </div>
</div>
