<div class="main" ngClass="{{themeService.$themeObserver | async}}">
  <app-pokeball-spinner *ngIf="loadingService.loading$ | async"></app-pokeball-spinner>
  <app-login-form *ngIf="!(userService.isLoginComplete$ | async )"></app-login-form>
  <app-error-modal *ngIf="(errorService.requestError$ | async )"></app-error-modal>
<div class="header-container">
    <app-header></app-header>
    <app-user-data></app-user-data>
    <app-show-users-button></app-show-users-button>
</div>  
<div class="content-container">
  <app-top-users *ngIf="userService.showTopUsers$ | async"></app-top-users>
  <router-outlet></router-outlet>
</div>
</div>
