.home {
  position: relative;
  height: 100%;
  &__buttons-container {
    display: flex;
    // gap: 1rem;
  }

  &__buttons-container > * + * {
    margin-left: 1rem;
  }
}


.home__content-container > div {
  display: flex;
  flex-direction: column;
  // gap: 1rem;
  align-items: center;
}

.home__content-container > div > * + *  {
  margin-top: 1rem;
}

.home__content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // gap: 3rem;
  font-size: 12px;
  position: relative;
  height: 100%;
  padding-bottom: 2rem;
  line-height: 1;
}

.home__content-container > * + * {
  margin-top: 3rem;
}

.home__background {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.home__background::before {
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 23px solid #ffffff;
  border-bottom: 50px solid #ffffff;
}

.background__balls-container {
  margin-top: 3px;
  position: absolute;
  display: flex;
  // gap: 1rem;
}

.background__balls-container > * + * {
  margin-left:  1rem;
}

.background__ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
}

.background__lines-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  // gap: 5px;
  bottom: 3px;
  left: 70px;
}

.background__lines-container > * + * {
  margin-top: 5px;
}

.background__line {
  width: 45px;
  height: 10px;
  border-radius: 3px;
  background-color: black;
}

@media (max-width: 600px) {
  .home__background {
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
  }

  .home__background::before {
    border: 10px solid #ffffff;
    border-bottom: 10px solid #ffffff;
  }

  .background__balls-container {
    display: none;
  }

  .background__lines-container {
    display: none;
  }
}
