<div class="challenge-container">
    <div class="challenge__form-container">
        <h2>{{ 'CHALLENGE.yourId' | translate }}{{_userId}}</h2>
        <p class="challenge__form__info">{{'CHALLENGE.challengeInfo' | translate}}</p>
        <form class="challenge__form">
            <input #rivalIdInput type="text" [placeholder]="'CHALLENGE.typeRivalId' | translate">
            <button [disabled]="hasChallenged" type="button" (click)="challengeUser(rivalIdInput.value)">
                {{ 'CHALLENGE.challenge' | translate }}
            </button>
            <p *ngIf="hasChallenged">{{ 'CHALLENGE.' + infoMessageSufix | translate }}</p>
            <button *ngIf="rivalHasAccepted" 
                     type="button"
                     (click)="goToArena()"
                     >
                    {{ 'CHALLENGE.goToBattle' | translate }}
            </button>
        </form>
    </div>
</div>
<app-challenged-modal *ngIf="webSocket.challenger$ | async as challenger" 
                      [challenger]="challenger.challenger">
</app-challenged-modal>