<div class="challenge-container">
    <div class="challenge__form-container">
        <h2>{{ 'CHALLENGE.yourId' | translate }}{{_userId}}</h2>
        <div *ngIf="_userId">
            <button *ngIf="!idCopied else copied"
                    class="challenge-container__id-button"
                    (click)="copyID()">
                {{ 'CHALLENGE.copyId' | translate }}
            </button>
            <ng-template #copied>
                <button (click)="copyID()"
                        class="challenge-container__id-button challenge-container__id-button--copied">
                {{ 'CHALLENGE.copied' | translate }}
            </button>
            </ng-template>
        </div>
        <p class="challenge__form__info">{{'CHALLENGE.challengeInfo' | translate}}</p>
        <form class="challenge__form" [formGroup]="form">
            <input type="text" [placeholder]="'CHALLENGE.typeRivalId' | translate" formControlName="userId">
            <button [disabled]="isWaitingResponse" type="submit" (click)="challengeUser()">
                {{ 'CHALLENGE.challenge' | translate }}
            </button>
            <p *ngIf="hasChallenged">{{ 'CHALLENGE.' + infoMessageSufix | translate }}</p>
            <button *ngIf="rivalHasAccepted" 
                     type="button"
                     (click)="goToArena()"
                     >
                    {{ 'CHALLENGE.goToBattle' | translate }}
            </button>
        </form>
    </div>
</div>
<app-challenged-modal *ngIf="webSocket.challenger$ | async as challenger" 
                      [challenger]="challenger.challenger">
</app-challenged-modal>